.section-profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #070707;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 55px 0px 150px 0px;
}

.profile-container_header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}

.profile-container_logout {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #A7A7A7;
    margin: 10px 0px 50px 0px;
    cursor: pointer;
}

.profile-container_order-history {
    display: flex;
    column-gap: 254px;
    flex-direction: row;
    margin-bottom: 53px;
}

.profile-container_order-history__link {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFC700;
    background: #111111;
    clip-path: polygon(12px 0, 100% 0, 97% 100%, 0 100%, 0 63px);
    padding: 17px 76px;
    cursor: pointer;
}

.profile-container_order-history__link:last-child {
    padding: 17px 110px;
}

.profile-container_goods-block,
.profile-container_goods-block_hoodie-block,
.profile-container_goods-block_t-shirt-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.profile-container_goods-block {
    max-width: 1008px;
    row-gap: 50px;
    column-gap: 234px;
    flex-wrap: wrap;
    margin-left: -24px;
}


.profile-container_goods-block_hoodie-block__img {
    width: 164px;
    margin-right: 20px;
}

.profile-container_goods-block_hoodie-block_name-block__name,
.profile-container_goods-block_t-shirt-block_name-block__name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;    
}

.profile-container_goods-block_hoodie-block_name-block__description,
.profile-container_goods-block_t-shirt-block_name-block__description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #B5B5B5;    
}

.profile-container_goods-block_hoodie-block_name-block__cost,
.profile-container_goods-block_t-shirt-block_name-block__cost {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFC700;
    margin-top: 19px;
}

.profile-container_goods-block_t-shirt-block__img {
    width: 147px;
    margin-right: 23px;
}

.profile-container_goods-block_t-shirt-block_name-block__cost {
    margin-top: 21.5px;
}