<section class="section-profile">

    <div class="profile-container">

        <h2 class="profile-container_header">Профиль</h2>
        <span class="profile-container_logout">Выйти</span>

        <div class="profile-container_order-history">
            <span class="profile-container_order-history__link">Исторя заказов</span>
            <span class="profile-container_order-history__link">Избранное</span>
        </div>

        <div class="profile-container_goods-block">

            <div class="profile-container_goods-block_hoodie-block">

                <img class="profile-container_goods-block_hoodie-block__img" src="/assets/img/top-sales_hoodie.png" alt="">

                <div class="profile-container_goods-block_hoodie-block_name-block">
                    <p class="profile-container_goods-block_hoodie-block_name-block__name">Желтое худи</p>
                    <p class="profile-container_goods-block_hoodie-block_name-block__description">худи, одежда</p>
                    <p class="profile-container_goods-block_hoodie-block_name-block__cost">1199.00 грн</p>
                </div>

            </div>

            <div class="profile-container_goods-block_t-shirt-block">

                <img class="profile-container_goods-block_t-shirt-block__img" src="/assets/img/top-sales_t-shirt.png" alt="">

                <div class="profile-container_goods-block_t-shirt-block_name-block">
                    <p class="profile-container_goods-block_t-shirt-block_name-block__name">Желтое худи</p>
                    <p class="profile-container_goods-block_t-shirt-block_name-block__description">худи, одежда</p>
                    <p class="profile-container_goods-block_t-shirt-block_name-block__cost">1199.00 грн</p>
                </div>

            </div>

            <div class="profile-container_goods-block_hoodie-block">

                <img class="profile-container_goods-block_hoodie-block__img" src="/assets/img/top-sales_hoodie.png" alt="">

                <div class="profile-container_goods-block_hoodie-block_name-block">
                    <p class="profile-container_goods-block_hoodie-block_name-block__name">Желтое худи</p>
                    <p class="profile-container_goods-block_hoodie-block_name-block__description">худи, одежда</p>
                    <p class="profile-container_goods-block_hoodie-block_name-block__cost">1199.00 грн</p>
                </div>

            </div>

            <div class="profile-container_goods-block_t-shirt-block">

                <img class="profile-container_goods-block_t-shirt-block__img" src="/assets/img/top-sales_t-shirt.png" alt="">

                <div class="profile-container_goods-block_t-shirt-block_name-block">
                    <p class="profile-container_goods-block_t-shirt-block_name-block__name">Желтое худи</p>
                    <p class="profile-container_goods-block_t-shirt-block_name-block__description">худи, одежда</p>
                    <p class="profile-container_goods-block_t-shirt-block_name-block__cost">1199.00 грн</p>
                </div>

            </div>

            <div class="profile-container_goods-block_hoodie-block">

                <img class="profile-container_goods-block_hoodie-block__img" src="/assets/img/top-sales_hoodie.png" alt="">

                <div class="profile-container_goods-block_hoodie-block_name-block">
                    <p class="profile-container_goods-block_hoodie-block_name-block__name">Желтое худи</p>
                    <p class="profile-container_goods-block_hoodie-block_name-block__description">худи, одежда</p>
                    <p class="profile-container_goods-block_hoodie-block_name-block__cost">1199.00 грн</p>
                </div>

            </div>

            <div class="profile-container_goods-block_t-shirt-block">

                <img class="profile-container_goods-block_t-shirt-block__img" src="/assets/img/top-sales_t-shirt.png" alt="">

                <div class="profile-container_goods-block_t-shirt-block_name-block">
                    <p class="profile-container_goods-block_t-shirt-block_name-block__name">Желтое худи</p>
                    <p class="profile-container_goods-block_t-shirt-block_name-block__description">худи, одежда</p>
                    <p class="profile-container_goods-block_t-shirt-block_name-block__cost">1199.00 грн</p>
                </div>

            </div>

        </div>

    </div>

</section>