<section class="section-home">

    <div class="wordshop-container">

        <div class="wordshop-container_content">
            <p class="wordshop-container_content_header">masons<br> 
                <span class="wordshop-container_content_header_span">branding</span><br> 
                wordshop
            </p>
            <p class="wordshop-container_content_text">Высококачественная печать <br>Брендирование одежды и аксессуаров</p>
            <span class="wordshop-container_content_link" [routerLink]='["/products"]'>Каталог</span>
        </div>

        <img class="wordshop-container__img" src="/assets/img/main-picture.png" alt="">

    </div>

    <div class="services-container">

        <h2 class="services-container_header">Наши <span class="services-container_header__span">услуги</span></h2>
        <p class="services-container_txt">Главной деятельностью масонств</p>

        <div class="services-container_types">

            <div class="services-container_types-block">
                <h3 class="services-container_types-block__header">Печать<br>флекс/флок<br>плёнкой</h3>
                <p class="services-container_types-block__txt">Качественная печать <br>При малых тиражах</p>
                <span class="services-container_types-block__link">Подробней</span>
                <img class="services-container_types-block__img" src="/assets/img/services-1.png" alt="">
            </div>

            <div class="services-container_types-block">
                <h3 class="services-container_types-block__header">Печать<br>флекс/флок<br>плёнкой</h3>
                <p class="services-container_types-block__txt">Качественная печать <br>При малых тиражах</p>
                <span class="services-container_types-block__link">Подробней</span>
                <img class="services-container_types-block__img" src="/assets/img/services-2.png" alt="">
            </div>

            <div class="services-container_types-block">
                <h3 class="services-container_types-block__header">Печать<br>флекс/флок<br>плёнкой</h3>
                <p class="services-container_types-block__txt">Качественная печать <br>При малых тиражах</p>
                <span class="services-container_types-block__link">Подробней</span>
                <img class="services-container_types-block__img" src="/assets/img/services-3.png" alt="">
            </div>

            <div class="services-container_types-block">
                <h3 class="services-container_types-block__header">Печать<br>флекс/флок<br>плёнкой</h3>
                <p class="services-container_types-block__txt">Качественная печать <br>При малых тиражах</p>
                <span class="services-container_types-block__link">Подробней</span>
                <img class="services-container_types-block__img" src="/assets/img/services-1.png" alt="">
            </div>

            <div class="services-container_types-block">
                <h3 class="services-container_types-block__header">Печать<br>флекс/флок<br>плёнкой</h3>
                <p class="services-container_types-block__txt">Качественная печать <br>При малых тиражах</p>
                <span class="services-container_types-block__link">Подробней</span>
                <img class="services-container_types-block__img" src="/assets/img/services-2.png" alt="">
            </div>

            <div class="services-container_types-block">
                <h3 class="services-container_types-block__header">Печать<br>флекс/флок<br>плёнкой</h3>
                <p class="services-container_types-block__txt">Качественная печать <br>При малых тиражах</p>
                <span class="services-container_types-block__link">Подробней</span>
                <img class="services-container_types-block__img" src="/assets/img/services-3.png" alt="">
            </div>
            
        </div>

    </div>

    <div class="example-container">

        <div class="example-container_header-block">        
            <h2 class="example-container_header-block_header"><span class="example-container_header-block_header__span">Пример</span> печати</h2>
            <p class="example-container_header-block_txt">Это может быть на тебе</p>
        </div>

        <div class="example-container_slider">
            <img class="example-container_slider_vector" src="/assets/img/arrow-left.png" alt="">
            <img class="example-container_slider_img" src="/assets/img/example_img-1.png" alt="">
            <img class="example-container_slider_img" src="/assets/img/example_img-2.png" alt="">
            <img class="example-container_slider_img" src="/assets/img/example_img-2.png" alt="">
            <img class="example-container_slider_vector" src="/assets/img/arrow-right.png" alt="">
        </div>

    </div>

    <div class="promotion-container">

        <div class="promotion-container_header-block">
            <h2 class="promotion-container_header-block_header"><span class="promotion-container_header-block_header__span">Акции</span> и предолжения</h2>
            <p class="promotion-container_header-block_txt">Успей урвать себе</p>
        </div>

        <div class="promotion-container_slider-block">
            <img class="promotion-container_slider-block_vector" src="/assets/img/arrow-black-left.png" alt="">
            <div class="promotion-container_slider-block_content">
                <h3 class="promotion-container_slider-block_content__header">Русский корабль</h3>
                <p class="promotion-container_slider-block_content__txt">Купи футболку и 10% с каждой покупки пойдёт на нуждый ВСУ, купи стильную футболку и поддержи своего брата на фронте</p>
                <span class="promotion-container_slider-block_content__link">ПОДРОБНЕЙ</span>
            </div>
            <img class="promotion-container_slider-block_img-main" src="/assets/img/promotion-img.png" alt="">
            <img class="promotion-container_slider-block_vector" src="/assets/img/arrow-black-right.png" alt="">
        </div>

    </div>

    <div class="top-sales-container">

        <h2 class="top-sales-container_header">Топ про<span class="top-sales-container_header__span">даж</span></h2>
        <p class="top-sales-container_txt">То, что вам нравиться</p>

        <div class="top-sales-container_nav-block">
            <ul class="top-sales-container_nav-block_ul">
                <li class="top-sales-container_nav-block_ul_li">
                    <span class="top-sales-container_nav-block_ul_li__link">Все</span>
                </li>
                <li class="top-sales-container_nav-block_ul_li">
                    <span class="top-sales-container_nav-block_ul_li__link">Кружки</span>
                </li>
                <li class="top-sales-container_nav-block_ul_li">
                    <span class="top-sales-container_nav-block_ul_li__link">Кружки</span>
                </li>
                <li class="top-sales-container_nav-block_ul_li">
                    <span class="top-sales-container_nav-block_ul_li__link">Кружки</span>
                </li>
                <li class="top-sales-container_nav-block_ul_li">
                    <span class="top-sales-container_nav-block_ul_li__link">Кружки</span>
                </li>
                <li class="top-sales-container_nav-block_ul_li">
                    <span class="top-sales-container_nav-block_ul_li__link">Кружки</span>
                </li>
                <li class="top-sales-container_nav-block_ul_li">
                    <span class="top-sales-container_nav-block_ul_li__link">Кружки</span>
                </li>
                <li class="top-sales-container_nav-block_ul_li">
                    <span class="top-sales-container_nav-block_ul_li__link">Кружки</span>
                </li>
            </ul>
        </div>

        <div class="top-sales-container_goods-block">

            <div class="top-sales-container_goods-block_product-block">
                <img class="top-sales-container_goods-block_product-block__img" src="/assets/img/top-sales_t-shirt.png" alt="">
                <p class="top-sales-container_goods-block_product-block__txt top-sales_additional-margin">Футболка Белая</p>
                <p class="top-sales-container_goods-block_product-block__price">230₴</p>
            </div>
            
            <div class="top-sales-container_goods-block_product-block">
                <img class="top-sales-container_goods-block_product-block__img" src="/assets/img/top-sales_hoodie.png" alt="">
                <p class="top-sales-container_goods-block_product-block__txt">Футболка Белая</p>
                <p class="top-sales-container_goods-block_product-block__price">230₴</p>
            </div>

            <div class="top-sales-container_goods-block_product-block">
                <img class="top-sales-container_goods-block_product-block__img" src="/assets/img/top-sales_t-shirt.png" alt="">
                <p class="top-sales-container_goods-block_product-block__txt top-sales_additional-margin">Футболка Белая</p>
                <p class="top-sales-container_goods-block_product-block__price">230₴</p>
            </div>

            <div class="top-sales-container_goods-block_product-block">
                <img class="top-sales-container_goods-block_product-block__img" src="/assets/img/top-sales_hoodie.png" alt="">
                <p class="top-sales-container_goods-block_product-block__txt">Футболка Белая</p>
                <p class="top-sales-container_goods-block_product-block__price">230₴</p>
            </div>

        </div>
    </div>

    <div class="catalog-container">
        
        <h2 class="catalog-container_header">Ката<span class="catalog-container_header__span">лог</span></h2>
        <p class="catalog-container_txt">Выбирай всё что по душе</p>

        <div class="catalog-container_products-block">

            <div class="catalog-container_products-block_product">
                <img class="catalog-container_products-block_product__img" src="/assets/img/catalog_hoodie.png" alt="">
                <p class="catalog-container_products-block_product__name">Футболка</p>
                <p class="catalog-container_products-block_product__title">Эко материалы</p>
            </div>
            <div class="catalog-container_products-block_product">
                <img class="catalog-container_products-block_product__img" src="/assets/img/catalog_t-shirt.png" alt="">
                <p class="catalog-container_products-block_product__name">Худи</p>
                <p class="catalog-container_products-block_product__title">Эко материалы</p>
            </div>
            <div class="catalog-container_products-block_product">
                <img class="catalog-container_products-block_product__img" src="/assets/img/catalog_hoodie.png" alt="">
                <p class="catalog-container_products-block_product__name">Чашки</p>
                <p class="catalog-container_products-block_product__title">Эко материалы</p>
            </div>

            <div class="catalog-container_products-block_product">
                <img class="catalog-container_products-block_product__img" src="/assets/img/catalog_hoodie.png" alt="">
                <p class="catalog-container_products-block_product__name">Футболка</p>
                <p class="catalog-container_products-block_product__title">Эко материалы</p>
            </div>
            <div class="catalog-container_products-block_product">
                <img class="catalog-container_products-block_product__img" src="/assets/img/catalog_t-shirt.png" alt="">
                <p class="catalog-container_products-block_product__name">Худи</p>
                <p class="catalog-container_products-block_product__title">Эко материалы</p>
            </div>
            <div class="catalog-container_products-block_product">
                <img class="catalog-container_products-block_product__img" src="/assets/img/catalog_hoodie.png" alt="">
                <p class="catalog-container_products-block_product__name">Чашки</p>
                <p class="catalog-container_products-block_product__title">Эко материалы</p>
            </div>

            <div class="catalog-container_products-block_product">
                <img class="catalog-container_products-block_product__img" src="/assets/img/catalog_hoodie.png" alt="">
                <p class="catalog-container_products-block_product__name">Футболка</p>
                <p class="catalog-container_products-block_product__title">Эко материалы</p>
            </div>
            <div class="catalog-container_products-block_product">
                <img class="catalog-container_products-block_product__img" src="/assets/img/catalog_t-shirt.png" alt="">
                <p class="catalog-container_products-block_product__name">Худи</p>
                <p class="catalog-container_products-block_product__title">Эко материалы</p>
            </div>
            <div class="catalog-container_products-block_product">
                <img class="catalog-container_products-block_product__img" src="/assets/img/catalog_hoodie.png" alt="">
                <p class="catalog-container_products-block_product__name">Чашки</p>
                <p class="catalog-container_products-block_product__title">Эко материалы</p>
            </div>

        </div>

    </div>

    <div class="reviews-container">

        <h2 class="reviews-container_header">От<span class="reviews-container_header__span">зы</span>вы</h2>
        <p class="reviews-container_txt">Только посмотри что о нас говорит<br>твоя соседка</p>

        <div class="reviews-container_content">
            <img class="reviews-container_content_vector" src="/assets/img/reviews_vector.png" alt="">
            <img class="reviews-container_content_smartphone" src="/assets/img/reviews_smartphone.png" alt="">
            <img class="reviews-container_content_vector" src="/assets/img/reviews_vector.png" alt="">
        </div>

    </div>

    <div class="doubts-container">

        <h2 class="doubts-container_header">Ещё есть <span class="doubts-container_header__span">сомнения?</span></h2>
        <p class="doubts-container_txt">Тогда посмотри это видео и сам всё поймёшь</p>

        <div class="doubts-container_youtube">
            <iframe width="915" height="514" src="https://www.youtube.com/embed/2Vo0lhfE8Jo" title="YouTube video player" 
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; 
            web-share" allowfullscreen></iframe>
        </div>

    </div>

    <div class="contact-container">

        <h2 class="contact-container_header">Свяжитесь с <span class="contact-container_header__span">нами</span></h2>
        <p class="contact-container__txt">Это бысто и удобно</p>

        <div class="contact-container_message-block">

            <div class="contact-container_message-block_send">
                <form class="contact-container_message-block_send_form" action="#">
                    <input class="contact-container_message-block_send_form__contact" placeholder="Ваше имя" type="text" name="" id="">
                    <input class="contact-container_message-block_send_form__contact" placeholder="Email" type="email" name="" id="">
                    <input class="contact-container_message-block_send_form__contact" placeholder="Телефон" type="tel" name="" id="">
                    <input class="contact-container_message-block_send_form__contact" placeholder="Примечание" type="text" name="" id="">
                    <span class="contact-container_message-block_send_form__btn">Отправить</span>
                </form>

                <div class="contact-container_message-block_send_social">
                    <span class="contact-container_message-block_send_social_telegram">
                        <img class="contact-container_message-block_send_social_telegram__img" src="/assets/img/telegram.png" alt="">
                    </span>
                    <span class="contact-container_message-block_send_social_viber">
                        <img class="contact-container_message-block_send_social_viber__img" src="/assets/img/viber.png" alt="">
                    </span>                    
                </div>
            </div>
            
            <div class="contact-container_message-block_map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48408.1427145959!2d-74.05124088374976!3d40.684788043039276!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25090129c363d%3A0x40c6a5770d25022b!2sStatue%20of%20Liberty!5e0!3m2!1sru!2sby!4v1678812320642!5m2!1sru!2sby" width="535" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

        </div>

        <div class="contact-container_schedule-block">

            <div class="contact-container_schedule-block_contact">
                <img class="contact-container_schedule-block_contact__img" src="/assets/img/contact_calendar-ico.png" alt="">
                <h5 class="contact-container_schedule-block_contact__header">График</h5>
                <p class="contact-container_schedule-block_contact__txt">ПН-ПТ: <br> 9:00 - 18:00</p>
            </div>

            <div class="contact-container_schedule-block_contact">
                <img class="contact-container_schedule-block_contact__img" src="/assets/img/contact_geolocation-ico.png" alt="">
                <h5 class="contact-container_schedule-block_contact__header">Карта</h5>
                <p class="contact-container_schedule-block_contact__txt">г. Киев <br> ул. Название</p>
            </div>

            <div class="contact-container_schedule-block_contact">
                <img class="contact-container_schedule-block_contact__img" src="/assets/img/contact_phone-ico.png" alt="">
                <h5 class="contact-container_schedule-block_contact__header">Контакты</h5>
                <p class="contact-container_schedule-block_contact__txt">+38(099)-999-99-99 <br> gmailexamp@gmail.com</p>
            </div>
            
        </div>

    </div>

</section>