.section-authoriz {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #070707;
}

.authoriz-container {
    width: 421.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("/assets/img/authoriz-background.png");
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 113px 0px 178px 0px;
}

.authoriz-container__header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    margin: 35px 0px 26px 0px;
}

.authoriz-container__regist-btn {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    cursor: pointer;
}

.authoriz-container_form {
    display: flex;
    flex-direction: column;
    margin: 25px 0px 38px 0px;
}

.authoriz-container_form__login {
    width: 340px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFC700;
    background: #080808;
    border: none;
    padding: 12px 0px 13px 15px;
    margin-bottom: 20px;
}

.authoriz-container_form__login::placeholder {
    border: none;
    background: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFC700;
}

.authoriz-container_form_remember-block {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.authoriz-container_form_remember-block__input {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0;
}

.authoriz-container_form_remember-block__label {
    display: block;
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFC700;
    padding-left: 31px;
}

.authoriz-container_form_remember-block__label::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #070707;
    background-repeat: no-repeat;
    background-position: center center;
    margin: -2px 0px 0px -31px;
}

.authoriz-container_form_remember-block__input:checked + 
.authoriz-container_form_remember-block__label {
    font-weight: 600;
}

.authoriz-container_form_remember-block__input:checked + 
.authoriz-container_form_remember-block__label::before {
    background-image: url("/assets/img/cart-container_checkbox.png");
}

.authoriz-container__enter-btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFC700;
    border: 2px solid #FFC700;
    padding: 15px 80px;
    cursor: pointer;
}

.authoriz-container__fogot-pass {
    font-family: 'Montserrat Alternates';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    margin: 15px 0px 43px 0px;
    cursor: pointer;;
}