<section class="section-authoriz">

    <div class="authoriz-container">

        <h2 class="authoriz-container__header">Вход</h2>

        <span class="authoriz-container__regist-btn">У меня ещё нет аккаунта</span>

        <form class="authoriz-container_form" action="">

            <input class="authoriz-container_form__login" placeholder="Email" type="email" name="" id="">
            <input class="authoriz-container_form__login" placeholder="Password" type="password" name="" id="">

            <div class="authoriz-container_form_remember-block">
                <input class="authoriz-container_form_remember-block__input" type="checkbox" id="remember" name="remember">
                <label class="authoriz-container_form_remember-block__label" for="remember">Запомнить меня</label>
            </div>

        </form>

        <span class="authoriz-container__enter-btn">Вход</span>

        <span class="authoriz-container__fogot-pass">Забыл пароль</span>

    </div>

</section>