<footer class="footer">

    <div class="footer-container">

            <div class="footer-container_logo-block">

                <img class="footer-container_logo-block__img" src="assets/img/logo.png" alt="logo">

                <div class="footer-container_logo-block_social-block">
                    <span class="footer-container_logo-block_social-block_link">
                        <img class="footer-container_logo-block_social-block_link__img" src="assets/img/telegramm.png" alt="social">
                    </span>
                    <span class="footer-container_logo-block_social-block_link">
                        <img class="footer-container_logo-block_social-block_link__img" src="assets/img/instagram.png" alt="social">
                    </span>

                </div>

            </div>

            <div class="footer-container_info-block">

                <p class="footer-container_info-block_header">Информация</p>

                <ul class="footer-container_info-block_ul">
                    <li class="footer-container_info-block_ul_li">
                        <span class="footer-container_info-block_ul_li__link">Каталог</span>
                    </li>
                    <li class="footer-container_info-block_ul_li">
                        <span class="footer-container_info-block_ul_li__link">О нас</span>
                    </li>
                    <li class="footer-container_info-block_ul_li">
                        <span class="footer-container_info-block_ul_li__link">Доставка и оплата</span>
                    </li>
                    <li class="footer-container_info-block_ul_li">
                        <span class="footer-container_info-block_ul_li__link">Возвращение</span>
                    </li>
                </ul>

            </div>

            <div class="footer-container_info-block">
                
                <p class="footer-container_info-block_header">Контакты</p>

                <ul class="footer-container_info-block_ul">
                    <li class="footer-container_info-block_ul_li">
                        <span class="footer-container_info-block_ul_li__link">Каталог</span>
                    </li>
                    <li class="footer-container_info-block_ul_li">
                        <span class="footer-container_info-block_ul_li__link">О нас</span>
                    </li>
                    <li class="footer-container_info-block_ul_li">
                        <span class="footer-container_info-block_ul_li__link">Доставка и оплата</span>
                    </li>
                    <li class="footer-container_info-block_ul_li">
                        <span class="footer-container_info-block_ul_li__link">Возвращение</span>
                    </li>
                </ul>

            </div>

            <div class="footer-container_email-block">
                <p class="footer-container_email-block__novelty">Узнавай о новинках первым</p>
                <p class="footer-container_email-block__sms">Получай от нас смс с сюрпризами</p>
                <form class="footer-container_email-block_form" action="#">
                    <input class="footer-container_email-block_form__input" type="email" placeholder="Email" name="" id="">
                    <span class="footer-container_email-block_form__btn">Отправить</span>
                </form>
            </div>

    </div>

</footer>
