<section class="section-cart">

    <div class="cart-container">

        <h1 class="cart-container_cart-header">Корзина</h1>

        <div class="cart-container_goods-block">

            <img class="cart-container_goods-block__img" src="/assets/img/top-sales_hoodie.png" alt="">

            <div class="cart-container_goods-block_name-block">
                <p class="cart-container_goods-block_name-block__name">Желтое худи</p>
                <p class="cart-container_goods-block_name-block_description">худи, одежда</p>
            </div>
            
            <ul class="cart-container_goods-block_ul">
                <li class="cart-container_goods-block_ul_li cart-container_li-width-first">
                    <p class="cart-container_goods-block_ul_li_p">
                        XL
                        <img class="cart-container_goods-block_ul_li_p__img" src="/assets/img/products-vector.png" alt="">                                
                    </p>
                </li>
                <li class="cart-container_goods-block_ul_li cart-container_li-width-second">
                    <p class="cart-container_goods-block_ul_li_p">
                        Белый
                        <img class="cart-container_goods-block_ul_li_p__img-second" src="/assets/img/products-vector.png" alt="">
                    </p>
                </li>
                <li class="cart-container_goods-block_ul_li cart-container_li-width-third">
                    <p class="cart-container_goods-block_ul_li_p">-  90  +</p>
                </li>
            </ul>

            <p class="cart-container_goods-block_cost">1199.00 грн</p>

            <img class="cart-container_goods-block_delete" src="/assets/img/cart-container_delete.png" alt="">

        </div>

        <div class="cart-container_goods-block">

            <img class="cart-container_goods-block__img" src="/assets/img/top-sales_hoodie.png" alt="">

            <div class="cart-container_goods-block_name-block">
                <p class="cart-container_goods-block_name-block__name">Желтое худи</p>
                <p class="cart-container_goods-block_name-block_description">худи, одежда</p>
            </div>
            
            <ul class="cart-container_goods-block_ul">
                <li class="cart-container_goods-block_ul_li cart-container_li-width-first">
                    <p class="cart-container_goods-block_ul_li_p">
                        XL
                        <img class="cart-container_goods-block_ul_li_p__img" src="/assets/img/products-vector.png" alt="">                                
                    </p>
                </li>
                <li class="cart-container_goods-block_ul_li cart-container_li-width-second">
                    <p class="cart-container_goods-block_ul_li_p">
                        Белый
                        <img class="cart-container_goods-block_ul_li_p__img-second" src="/assets/img/products-vector.png" alt="">
                    </p>
                </li>
                <li class="cart-container_goods-block_ul_li cart-container_li-width-third">
                    <p class="cart-container_goods-block_ul_li_p">-  90  +</p>
                </li>
            </ul>

            <p class="cart-container_goods-block_cost">1199.00 грн</p>

            <img class="cart-container_goods-block_delete" src="/assets/img/cart-container_delete.png" alt="">

        </div>

        <div class="cart-container_goods-block">

            <img class="cart-container_goods-block__img" src="/assets/img/top-sales_hoodie.png" alt="">

            <div class="cart-container_goods-block_name-block">
                <p class="cart-container_goods-block_name-block__name">Желтое худи</p>
                <p class="cart-container_goods-block_name-block_description">худи, одежда</p>
            </div>
            
            <ul class="cart-container_goods-block_ul">
                <li class="cart-container_goods-block_ul_li cart-container_li-width-first">
                    <p class="cart-container_goods-block_ul_li_p">
                        XL
                        <img class="cart-container_goods-block_ul_li_p__img" src="/assets/img/products-vector.png" alt="">                                
                    </p>
                </li>
                <li class="cart-container_goods-block_ul_li cart-container_li-width-second">
                    <p class="cart-container_goods-block_ul_li_p">
                        Белый
                        <img class="cart-container_goods-block_ul_li_p__img-second" src="/assets/img/products-vector.png" alt="">
                    </p>
                </li>
                <li class="cart-container_goods-block_ul_li cart-container_li-width-third">
                    <p class="cart-container_goods-block_ul_li_p">-  90  +</p>
                </li>
            </ul>

            <p class="cart-container_goods-block_cost">1199.00 грн</p>

            <img class="cart-container_goods-block_delete" src="/assets/img/cart-container_delete.png" alt="">

        </div>

        <h2 class="cart-container_order-header">Оформить заказ</h2>

        <div class="cart-container_order-block">

            <form class="cart-container_order-block_form" action="">
                <input class="cart-container_order-block_form__contact" placeholder="Ваше имя" type="text" name="" id="">
                <input class="cart-container_order-block_form__contact" placeholder="Email" type="email" name="" id="">
                <input class="cart-container_order-block_form__contact" placeholder="Телефон" type="tel" name="" id="">
                <input class="cart-container_order-block_form__contact" placeholder="Город" type="text" name="" id="">
                <input class="cart-container_order-block_form__contact" placeholder="Отделение" type="text" name="" id="">
            </form>

            <div class="cart-container_order-block_checkout-block">

                <div class="cart-container_order-block_checkout-block_checkbox-block">

                    <div class="cart-container_order-block_checkout-block_checkbox-block_delivery-block">

                        <p class="cart-container_order-block_checkout-block_checkbox-block_delivery-block_txt">Доставка</p>

                        
                        <input class="cart-container_order-block_checkout-block_checkbox-block_delivery-block__input" type="checkbox" id="pickup" name="pickup">
                        <label class="cart-container_order-block_checkout-block_checkbox-block_delivery-block__label" for="pickup">Самовывоз</label>

                        <input class="cart-container_order-block_checkout-block_checkbox-block_delivery-block__input" type="checkbox" id="mail" name="mail">
                        <label class="cart-container_order-block_checkout-block_checkbox-block_delivery-block__label" for="mail">Новая почта</label>
                        
                    </div>

                    <div class="cart-container_order-block_checkout-block_checkbox-block_payment-block">

                        <p class="cart-container_order-block_checkout-block_checkbox-block_payment-block_txt">Оплата</p>

                        <input class="cart-container_order-block_checkout-block_checkbox-block_payment-block__input" type="checkbox" id="payment" name="payment">
                        <label class="cart-container_order-block_checkout-block_checkbox-block_payment-block__label" for="payment">Наложеный платёж</label>

                        <input class="cart-container_order-block_checkout-block_checkbox-block_payment-block__input" type="checkbox" id="cashless" name="cashless">
                        <label class="cart-container_order-block_checkout-block_checkbox-block_payment-block__label" for="cashless">Безналичный</label>

                    </div>

                </div>

                <p class="cart-container_order-block_checkout-block_order">
                    Заказ: 
                    <span class="cart-container_order-block_checkout-block_order__span">1100 грн</span>
                </p>

                <p class="cart-container_order-block_checkout-block_delivery">
                    Доставка:
                    <span class="cart-container_order-block_checkout-block_delivery__span">50 грн</span>
                </p>

                <p class="cart-container_order-block_checkout-block_total">
                    Итого:
                    <span class="cart-container_order-block_checkout-block_total__span">1150 грн</span>
                </p>

                <span class="cart-container_order-block_checkout-block__btn">Оформить заказ</span>

            </div>

        </div>

    </div>

</section>