<section class="section-product">

    <div class="product-container">

        <div class="product-container_crumbs-block">
            <p class="product-container_crumbs">
                <span class="product-container_crumbs__all">каталог</span> / 
                <span class="product-container_crumbs__all">худи</span>  / 
                <span class="product-container_crumbs__all">желтое худи</span>
            </p>
        </div>

        <div class="product-container_main">
            
            <img class="product-container_main__img" src="/assets/img/product-main-img.png" alt="">

            <div class="product-container_main_description">

                <h3 class="product-container_main_description_header">Желтое худи</h3>
                <p class="product-container_main_description_txt">худи, одежда</p>
                <div class="product-container_main_description_img-block">
                    <img class="product-container_main_description_img-block__img" src="/assets/img/product-star-yellow.png" alt="">
                    <img class="product-container_main_description_img-block__img" src="/assets/img/product-star-yellow.png" alt="">
                    <img class="product-container_main_description_img-block__img" src="/assets/img/product-star-yellow.png" alt="">
                    <img class="product-container_main_description_img-block__img" src="/assets/img/product-star-yellow.png" alt="">
                    <img class="product-container_main_description_img-block__img" src="/assets/img/product-star-white.png" alt="">
                </div>
                <p class="product-container_main_description_cost">1199.00 грн</p>
                <div class="product-container_main_description_options">
                    <ul class="product-container_main_description_options_ul">
                        <li class="product-container_main_description_options_ul_li-first">Размер:</li>
                        <li class="product-container_main_description_options_ul_li-second product-container_li-width-first">
                            <p class="product-container_main_description_options_ul_li-second_p">
                                XL
                                <img class="product-container_main_description_options_ul_li-second_p__img" src="/assets/img/products-vector.png" alt="">                                
                            </p>
                        </li>
                        <li class="product-container_main_description_options_ul_li-first">Цвет:</li>
                        <li class="product-container_main_description_options_ul_li-second product-container_li-width-second">
                            <p class="product-container_main_description_options_ul_li-second_p">
                                Белый
                                <img class="product-container_main_description_options_ul_li-second_p__img-second" src="/assets/img/products-vector.png" alt="">
                            </p>
                        </li>
                        <li class="product-container_main_description_options_ul_li-first">Количество:</li>
                        <li class="product-container_main_description_options_ul_li-second product-container_li-width-third">
                            <p class="product-container_main_description_options_ul_li-second_p">-  90  +</p>
                        </li>
                    </ul>
                </div>
                <div class="product-container_main_description_btn-block">
                    <span class="product-container_main_description_btn-block__btn">КУПИТЬ</span>
                    <img class="product-container_main_description_btn-block__img" src="/assets/img/product-container_like-btn.png" alt="">
                </div>

            </div>

        </div>

        <div class="product-container_description">
            <h5 class="product-container_description_header">Описание</h5>
            <p class="product-container_description_txt">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor aenean enim, 
                bibendum sed massa tellus in. In ultrices et egestas faucibus vestibulum in. 
                Eget nunc leo, in pellentesque. Sed habitant a lectus velit neque. Sed in accumsan in dictum ac.
            </p>
        </div>

        <div class="product-container_reviews">

            <div class="product-container_reviews_header-block">
                <h5 class="product-container_reviews_header-block__header">Отзывы</h5>
                <span class="product-container_reviews_header-block__btn">Оставить отзыв</span>
            </div>

            <div class="product-container_reviews_comment-block">
                <img class="product-container_reviews_comment-block_img" src="/assets/img/product_avatar.png" alt="">
                <div class="product-container_reviews_comment-block_user-block">
                    <p class="product-container_reviews_comment-block_user-block_name">Дмитрий Милен</p>
                    <div class="product-container_reviews_comment-block_user-block_img-block">
                        <img class="product-container_reviews_comment-block_user-block_img-block__img" src="/assets/img/product-star-yellow.png" alt="">
                        <img class="product-container_reviews_comment-block_user-block_img-block__img" src="/assets/img/product-star-yellow.png" alt="">
                        <img class="product-container_reviews_comment-block_user-block_img-block__img" src="/assets/img/product-star-yellow.png" alt="">
                        <img class="product-container_reviews_comment-block_user-block_img-block__img" src="/assets/img/product-star-yellow.png" alt="">
                        <img class="product-container_reviews_comment-block_user-block_img-block__img" src="/assets/img/product-star-yellow.png" alt="">
                    </div>
                    <p class="product-container_reviews_comment-block_user-block_comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor aenean enim, 
                        bibendum sed massa tellus in. In ultrices et egestas faucibus vestibulum in. 
                        Eget nunc leo, in pellentesque. Sed habitant a lectus velit neque. Sed in accumsan in dictum ac.
                    </p>
                </div>
            </div>

            <div class="product-container_reviews_comment-block">
                <img class="product-container_reviews_comment-block_img" src="/assets/img/product_avatar.png" alt="">
                <div class="product-container_reviews_comment-block_user-block">
                    <p class="product-container_reviews_comment-block_user-block_name">Дмитрий Милен</p>
                    <div class="product-container_reviews_comment-block_user-block_img-block">
                        <img class="product-container_reviews_comment-block_user-block_img-block__img" src="/assets/img/product-star-yellow.png" alt="">
                        <img class="product-container_reviews_comment-block_user-block_img-block__img" src="/assets/img/product-star-yellow.png" alt="">
                        <img class="product-container_reviews_comment-block_user-block_img-block__img" src="/assets/img/product-star-yellow.png" alt="">
                        <img class="product-container_reviews_comment-block_user-block_img-block__img" src="/assets/img/product-star-yellow.png" alt="">
                        <img class="product-container_reviews_comment-block_user-block_img-block__img" src="/assets/img/product-star-yellow.png" alt="">
                    </div>
                    <p class="product-container_reviews_comment-block_user-block_comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor aenean enim, 
                        bibendum sed massa tellus in. In ultrices et egestas faucibus vestibulum in. 
                        Eget nunc leo, in pellentesque. Sed habitant a lectus velit neque. Sed in accumsan in dictum ac.
                    </p>
                </div>
            </div>

            <div class="product-container_reviews_comment-block">
                <img class="product-container_reviews_comment-block_img" src="/assets/img/product_avatar.png" alt="">
                <div class="product-container_reviews_comment-block_user-block">
                    <p class="product-container_reviews_comment-block_user-block_name">Дмитрий Милен</p>
                    <div class="product-container_reviews_comment-block_user-block_img-block">
                        <img class="product-container_reviews_comment-block_user-block_img-block__img" src="/assets/img/product-star-yellow.png" alt="">
                        <img class="product-container_reviews_comment-block_user-block_img-block__img" src="/assets/img/product-star-yellow.png" alt="">
                        <img class="product-container_reviews_comment-block_user-block_img-block__img" src="/assets/img/product-star-yellow.png" alt="">
                        <img class="product-container_reviews_comment-block_user-block_img-block__img" src="/assets/img/product-star-yellow.png" alt="">
                        <img class="product-container_reviews_comment-block_user-block_img-block__img" src="/assets/img/product-star-yellow.png" alt="">
                    </div>
                    <p class="product-container_reviews_comment-block_user-block_comment">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tortor aenean enim, 
                        bibendum sed massa tellus in. In ultrices et egestas faucibus vestibulum in. 
                        Eget nunc leo, in pellentesque. Sed habitant a lectus velit neque. Sed in accumsan in dictum ac.
                    </p>
                </div>
            </div>
                        
        </div>

        <div class="product-container_recommend">

            <h4 class="product-container_recommend_header">Рекомендуем вам</h4>

            <div class="product-container_recommend_goods-block">

                <div class="product-container_recommend_goods-block_product-block">
                    <img class="product-container_recommend_goods-block_product-block__img" src="/assets/img/top-sales_t-shirt.png" alt="">
                    <p class="product-container_recommend_goods-block_product-block__txt product-container_additional-margin">Футболка Белая</p>
                    <p class="product-container_recommend_goods-block_product-block__price">230₴</p>
                </div>
                
                <div class="product-container_recommend_goods-block_product-block">
                    <img class="product-container_recommend_goods-block_product-block__img" src="/assets/img/top-sales_hoodie.png" alt="">
                    <p class="product-container_recommend_goods-block_product-block__txt">Футболка Белая</p>
                    <p class="product-container_recommend_goods-block_product-block__price">230₴</p>
                </div>
    
                <div class="product-container_recommend_goods-block_product-block">
                    <img class="product-container_recommend_goods-block_product-block__img" src="/assets/img/top-sales_t-shirt.png" alt="">
                    <p class="product-container_recommend_goods-block_product-block__txt product-container_additional-margin">Футболка Белая</p>
                    <p class="product-container_recommend_goods-block_product-block__price">230₴</p>
                </div>
    
                <div class="product-container_recommend_goods-block_product-block">
                    <img class="product-container_recommend_goods-block_product-block__img" src="/assets/img/top-sales_hoodie.png" alt="">
                    <p class="product-container_recommend_goods-block_product-block__txt">Футболка Белая</p>
                    <p class="product-container_recommend_goods-block_product-block__price">230₴</p>
                </div>
    
            </div>

        </div>

    </div>

</section>